@import "../colors";
@import "../variables";
@import "../mixins";

.ourTerms {
  & .main__container {
    @include mainContainer;
  }
}

.ourTerms__content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 186px;
  & .ourTerms__title {
    & .ourTerms__title-item {
      color: $primary-dark-blue;
      text-align: center;
      line-height: 130%;
      font: {
        size: $primary-about-title;
        weight: 800;
      }
    }
  }
  & .ourTerms__cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    & .terms__card {
      display: flex;
      flex-direction: column;
      gap: 16px;
      & .terms__titles {
        display: flex;
        flex-direction: column;
        gap: 12px;
        & .terms-title {
          color: $primary-hover-blue;
          line-height: normal;
          font: {
            size: $primary-card-title;
            weight: 700;
          }
        }
        & .terms-subTitle {
          color: $primary-subTitile-gray;
          line-height: normal;
          font: {
            size: $primary-four;
            weight: 500;
          }
        }
      }
      & .one-bg {
        width: 100%;
        background: url(../sections/images/ourTermsImages/Image_01.png);
        background-repeat: no-repeat;
      }
      & .two-bg {
        width: 100%;
        background: url(../sections/images/ourTermsImages/Image_02.png);
        background-repeat: no-repeat;
      }
      & .third-bg {
        width: 100%;
        background: url(../sections/images/ourTermsImages/Image_03.png);
        background-repeat: no-repeat;
      }
      & .decor-pos {
        position: relative;
        left: 7px;
        bottom: -5px;
      }
      & .decor-posTwo {
        position: relative;
        top: 3px;
        left: 5px;
      }
      & .decor-posThird {
        position: relative;
        top: 3px;
        left: -8px;
      }
    }
    & .two-card {
      flex-direction: column-reverse;
    }
  }
}
