@import "mixins";
@import "reset";
@import "header";
@import "colors";
@import "variables";
@import "./sections/hero.scss";
@import "./sections/about.scss";
@import "./sections/choose.scss";
@import "./sections//ourTerms.scss";
@import "./sections/location.scss";

body {
  font-family: "Open Sans", sans-serif;
}
